@import 'styles';

.header {
  background-color: $dark;
  color: $light;
  display: flex;
  &__transparent {
    background-color: transparent;
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);

  @include mediaUpTo('tablet') {
  }
  @include mediaInBetween('tablet', 'desktop') {
    display: grid;
  }
}

.navList {
  display: flex;
}

.logo {
  padding: 32px 0;
}
