@import 'styles';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $dark;
  color: $light;
  display: flex;
  &__transparent {
    background-color: transparent;
  }
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.2);

  @include mediaUpTo('tablet') {
  }
  @include mediaInBetween('tablet', 'desktop') {
  }
}


.logo {
  padding: 32px 0;
  cursor: pointer;
}

.CartButton {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $main-color;
  }
}
